fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
pydantic
langchain
langchain-core
langchain-groq
langgraph
langgraph-checkpoint-sqlite
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
mcp
requests